:root {
  --color-primary: #42b883;
  --color-primary-light: rgba(66, 184, 131, 0.6);
  --background-normal: #f0f0f0;
  --background-dark: #333;
  --background-none: rgba(0,0,0,0);
  --text-color: #333;
  --text-color-light: #f0f0f0;
  --border-color: #ccc;
  --border-color-dark: #666;
  --font-family: "Arial", sans-serif;
  --font-size: 16px;
  --font-weight: normal;
  --line-height: 1.5;
  --spacing: 1rem;
  --transition: 0.3s ease-in-out;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 2px 5px rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 4px 10px rgba(0, 0, 0, 0.2);
  --shadow-xl: 0 6px 15px rgba(0, 0, 0, 0.3);
  --shadow-2xl: 0 8px 20px rgba(0, 0, 0, 0.4);
  --shadow-inner: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-inner-dark: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  --radius: 5px;
  --button-primary: rgb(46, 122, 88);
  --button-primary-hover: var(--color-primary-light);
  --button-primary-active: var(--color-primary);
  --button-primary-disabled: #ccc;
  --button-secondary: #333;
  --button-secondary-hover: #555;
  --button-secondary-active: #333;
  --button-secondary-disabled: #ccc;
  --button-danger: #ff4d4f;
  --button-danger-hover: #ff7875;
  --button-danger-active: #ff4d4f;
  --button-danger-disabled: #ccc;
  --input-background: #fff;
  --input-border: #ccc;
  --input-border-hover: #999;
  --input-border-focus: #42b883;
  --input-placeholder-color: #999;
  --input-disabled-color: #ccc;
  --input-disabled-background: #f0f0f0;
  --input-disabled-border: #ccc;
  --input-disabled-placeholder-color: #ccc;
  --input-error-color: #ff4d4f;
  --input-error-border: #ff4d4f;
  --input-error-background: #fff;
  --input-error-placeholder-color: #ff4d4f;
  --input-success-color: #52c41a;
  --input-success-border: #52c41a;
  --input-success-background: #fff;
  --input-success-placeholder-color: #52c41a;
  --image-orange: #facc14;
  --image-orange-dark: #faad14;
  --image-orange-text: rgba(250, 108, 20, 0.84);
  --input-info-color: #1890ff;
  --input-info-border: #1890ff;
  --input-info-background: #fff;
  --input-info-placeholder-color: #1890ff;
  --input-group-border: #ccc;
  --input-group-border-hover: #999;
  --input-group-border-focus: #42b883;
  --input-group-disabled-border: #ccc;
  --input-group-disabled-background: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  user-select: none;
}